/* montserrat-regular - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'),
  url('../fonts/montserrat-v12-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
  url('../fonts/montserrat-v12-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-700 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local('Montserrat Bold'), local('Montserrat-Bold'),
  url('../fonts/montserrat-v12-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
  url('../fonts/montserrat-v12-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

body {
  margin: 0;
  padding: 0;
}



@import "blocks/language.scss";
@import "blocks/login.scss";
@import "blocks/socials";
@import "blocks/top-menu.scss";
@import "blocks/menu.scss";
@import "blocks/button-burger.scss";
@import "blocks/search-like-cart.scss";
@import "blocks/main-menu.scss";
@import "blocks/title.scss";

@import "blocks/sort.scss";
@import "blocks/card.scss";
@import "blocks/main.scss";

@import "blocks/categories.scss";
@import "blocks/subscribe.scss";
@import "blocks/tab-post.scss";
@import "blocks/tags.scss";
@import "blocks/aside.scss";
@import "blocks/page.scss";

@import "blocks/pages.scss";
@import "blocks/newsletter.scss";
@import "blocks/footer-heading.scss";
@import "blocks/footer-categories.scss";
@import "blocks/footer-tags.scss";
@import "blocks/footer-flickr.scss";
@import "blocks/footer-bottom.scss";
@import "blocks/footer.scss";

.visually-hidden {
   position: absolute;
   clip: rect(0 0 0 0);
   width: 1px;
   height: 1px;
   margin: -1px;
 }