.button-burger {
  width: 18px;
  height: 12px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  border: none;
  background: none;

  &:hover {
    cursor: pointer;
  }

  &::before,
  &::after {
    content: "";
    width: 18px;
    height: 2px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    background-color: #ffffff;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }

  &::before {
    top: 5px;
    -webkit-box-shadow: 0 -5px 0 0 #ffffff;
    -moz-box-shadow: 0 -5px 0 0 #ffffff;
    box-shadow: 0 -5px 0 0 #ffffff;
  }

  &::after {
    top: 10px;
  }

  &:hover::before,
  &:hover::after {
    opacity: 0.8;
  }

  &:active::before,
  &:active::after {
    opacity: 0.5;
  }

  &:focus {
    outline: none;
  }
}

.button-burger--close {
  &::before {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  &::after {
    top: 5px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
}