.language {
  display: flex;
  align-items: center;
  background-color: transparent;
}

.language__select {
  margin-left: 5px;
  padding-right: 20px;
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 12px;
  line-height: 27px;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  background-image: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' fill='%23ffffff' width='16' height='16' viewBox='0 0 16 16'%3E%3Cpath d='M7.434 10.36l0.566 0.566 4.526-4.526-1.131-1.131-3.394 3.394-3.394-3.394-1.131 1.131z'%3E%3C/path%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: 100% 50%;

  &:hover {
    color: darken(#ffffff, 30%);
    cursor: pointer;
  }
}

.language__option {
  background-color: #303f9f;
}

.language__icon {
  fill: #ffffff;
}

@media (min-width: 1172px) {
  .language__option {
    background-color: #191919;
  }
}