.main-menu {
  width: 320px;
  min-height: 70px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #3f51b5;
}

.main-menu__wrapper {
  width: 280px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.main-menu__title {
  margin: 18px 0 16px;
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 24px;
  line-height: 36px;
  text-transform: uppercase;
  color: #ffffff;
}

.main-menu__menu {
  order: 1;
}

@media (min-width: 1170px) {
  .main-menu {
    width: 100%;
    position: absolute;
    background-color: transparent;
    z-index: 1;
  }

  .main-menu__wrapper {
    width: 1170px;
  }

  .main-menu__button {
    display: none;
  }

  .main-menu__menu {
    order: 0;
  }
}