.main {
  width: 280px;
  min-height: 300px;
  margin: 0 auto;
  padding-top: 0;
  padding-bottom: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: transparent;
}

.main__card {
  margin-bottom: 20px;
}

.main__cols-wrapper {
  display: flex;
  justify-content: space-between;
}

@media (min-width: 1170px) {
  .main {
    width: 820px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .main__card {

  }
}